# Ejercicio 1: Transformar cadenas

In [2]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [6]:
ts=text.split('.')
print(ts)

['Interesting facts about the Moon', " The Moon is Earth's only satellite", ' There are several interesting facts about the Moon and how it affects life here on Earth', ' \nOn average, the Moon moves 4cm away from the Earth every year', ' This yearly drift is not significant enough to cause immediate effects on Earth', ' The highest daylight temperature of the Moon is 127 C', '']

In [11]:
palabras=['average','temperature', 'distance']

for sentence in ts:
    for key_word in palabras:
        if key_word in sentence:
            print(sentence)
            break

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

In [26]:
for sentence in ts:
    for key_word in palabras:
        if key_word in sentence:
            print(sentence.replace('C', 'Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celsius

# Ejercicio 2: Formateando Cadenas

In [54]:
name= "Moon"
gravity= 0.00162
planet= "Earth"
t=("{}'s and {}'s gravity.".format(planet,name))
print(t.upper())

EARTH'S AND MOON'S GRAVITY.

In [55]:
gravity=0.00162*1000

In [56]:
multilinea = f"""Earth's and moon's facts
{'.'*80} 
Nombre del planeta: {planet} 
Gravedad en {name}: {gravity * 1000} m/s2 
"""

In [57]:
print(multilinea)

Earth's and moon's facts
................................................................................
Nombre del planeta: Earth
Gravedad en Moon: 1619.9999999999998 m/s2

In [61]:
titulo=f"""{t.title()}
{multilinea}
"""
print(titulo)

Earth'S And Moon'S Gravity.
Earth's and moon's facts
................................................................................
Nombre del planeta: Earth
Gravedad en Moon: 1619.9999999999998 m/s2

# Nuevos datos muestra

In [65]:
planet='Marte'
gravity=0.00143
name='Ganímedes'

In [66]:
print(multilinea)

Earth's and moon's facts
................................................................................
Nombre del planeta: Earth
Gravedad en Moon: 1619.9999999999998 m/s2

In [68]:
plantilla=f""" Nuevos datos
{"-"*80}
Nombre del planeta:{planet}
Gravedad en {name}= {gravity} m/s2
"""
print(plantilla.format(planet=planet, name=name, gravity=gravity))

 Nuevos datos
--------------------------------------------------------------------------------
Nombre del planeta:Marte
Gravedad en Ganímedes= 0.00143 m/s2